<h2 mat-dialog-title>
  <mat-icon class="title-icon">settings</mat-icon>
  Paramètres de guidage
  <button mat-icon-button mat-dialog-close class="close-button">
    <mat-icon>close</mat-icon>
  </button>
</h2>
<mat-dialog-content>
  <div class="params-grid">
    <!-- Parameters card -->
    <mat-card *ngIf="hasParameters()">
      <mat-card-header>
        <div class="card-header-container">
          <mat-card-title>
            <mat-icon class="card-icon">tune</mat-icon>
            Paramètres
          </mat-card-title>
          <button mat-icon-button matTooltip="Réinitialiser les paramètres" (click)="resetAllParameters()"
                  [disabled]="!data.parametersEnabled" class="reset-button">
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <mat-card-content>
        <form class="guider-form">
          <ng-container *ngFor="let key of getParametersKeys()">
            <div class="element-wrapper">
              <mat-form-field appearance="fill" *ngIf="isStringWithLov(key, 'parameters')" class="full-width">
                <mat-label>{{ getElementLabel(key, 'parameters') }}</mat-label>
                <mat-select [(ngModel)]="data.parametersElements[key].value" [name]="'parameters_' + key"
                            (ngModelChange)="data.onParametersChange(key, $event)"
                            [disabled]="!data.parametersEnabled">
                  <mat-option *ngFor="let option of getElementLovs(key, 'parameters')" [value]="option.value">
                    {{ option.label }}
                  </mat-option>
                </mat-select>
                <mat-hint *ngIf="getElementDescription(key, 'parameters')">
                  {{ getElementDescription(key, 'parameters') }}
                </mat-hint>
              </mat-form-field>

              <mat-form-field appearance="fill" *ngIf="isStringWithoutLov(key, 'parameters')" class="full-width">
                <mat-label>{{ getElementLabel(key, 'parameters') }}</mat-label>
                <input matInput type="text" [(ngModel)]="data.parametersElements[key].value" [name]="'parameters_' + key"
                       (ngModelChange)="data.onParametersChange(key, $event)"
                       [disabled]="!data.parametersEnabled">
                <mat-hint *ngIf="getElementDescription(key, 'parameters')">
                  {{ getElementDescription(key, 'parameters') }}
                </mat-hint>
              </mat-form-field>

              <mat-form-field appearance="fill" *ngIf="isNumeric(key, 'parameters')" class="full-width">
                <mat-label>{{ getElementLabel(key, 'parameters') }}{{ getElementConstraints(key, 'parameters') }}</mat-label>
                <input matInput type="number" [(ngModel)]="data.parametersElements[key].value" [name]="'parameters_' + key"
                       (ngModelChange)="data.onParametersChange(key, $event)"
                       [disabled]="!data.parametersEnabled">
                <mat-hint *ngIf="getElementDescription(key, 'parameters')">
                  {{ getElementDescription(key, 'parameters') }}
                </mat-hint>
              </mat-form-field>

              <div class="toggle-field" *ngIf="isBool(key, 'parameters')">
                <mat-slide-toggle [(ngModel)]="data.parametersElements[key].value" [name]="'parameters_' + key"
                                  (ngModelChange)="data.onParametersChange(key, $event)"
                                  [disabled]="!data.parametersEnabled">
                  {{ getElementLabel(key, 'parameters') }}
                </mat-slide-toggle>
              </div>
            </div>
          </ng-container>
        </form>
      </mat-card-content>
    </mat-card>

    <!-- Devices card -->
    <mat-card *ngIf="hasDevices()">
      <mat-card-header>
        <div class="card-header-container">
          <mat-card-title>
            <mat-icon class="card-icon">devices</mat-icon>
            Périphériques
          </mat-card-title>
          <button mat-icon-button matTooltip="Réinitialiser les périphériques" (click)="resetAllDevices()"
                  [disabled]="!data.devicesEnabled" class="reset-button">
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <mat-card-content>
        <form class="guider-form">
          <ng-container *ngFor="let key of getDevicesKeys()">
            <div class="element-wrapper">
              <mat-form-field appearance="fill" *ngIf="isStringWithLov(key, 'devices')" class="full-width">
                <mat-label>{{ getElementLabel(key, 'devices') }}</mat-label>
                <mat-select [(ngModel)]="data.devicesElements[key].value" [name]="'devices_' + key"
                            (ngModelChange)="data.onDevicesChange(key, $event)"
                            [disabled]="!data.devicesEnabled">
                  <mat-option *ngFor="let option of getElementLovs(key, 'devices')" [value]="option.value">
                    {{ option.label }}
                  </mat-option>
                </mat-select>
                <mat-hint *ngIf="getElementDescription(key, 'devices')">
                  {{ getElementDescription(key, 'devices') }}
                </mat-hint>
              </mat-form-field>

              <mat-form-field appearance="fill" *ngIf="isStringWithoutLov(key, 'devices')" class="full-width">
                <mat-label>{{ getElementLabel(key, 'devices') }}</mat-label>
                <input matInput type="text" [(ngModel)]="data.devicesElements[key].value" [name]="'devices_' + key"
                       (ngModelChange)="data.onDevicesChange(key, $event)"
                       [disabled]="!data.devicesEnabled">
                <mat-hint *ngIf="getElementDescription(key, 'devices')">
                  {{ getElementDescription(key, 'devices') }}
                </mat-hint>
              </mat-form-field>

              <mat-form-field appearance="fill" *ngIf="isNumeric(key, 'devices')" class="full-width">
                <mat-label>{{ getElementLabel(key, 'devices') }}{{ getElementConstraints(key, 'devices') }}</mat-label>
                <input matInput type="number" [(ngModel)]="data.devicesElements[key].value" [name]="'devices_' + key"
                       (ngModelChange)="data.onDevicesChange(key, $event)"
                       [disabled]="!data.devicesEnabled">
                <mat-hint *ngIf="getElementDescription(key, 'devices')">
                  {{ getElementDescription(key, 'devices') }}
                </mat-hint>
              </mat-form-field>

              <div class="toggle-field" *ngIf="isBool(key, 'devices')">
                <mat-slide-toggle [(ngModel)]="data.devicesElements[key].value" [name]="'devices_' + key"
                                  (ngModelChange)="data.onDevicesChange(key, $event)"
                                  [disabled]="!data.devicesEnabled">
                  {{ getElementLabel(key, 'devices') }}
                </mat-slide-toggle>
              </div>
            </div>
          </ng-container>
        </form>
      </mat-card-content>
    </mat-card>

    <!-- Optic card -->
    <mat-card *ngIf="hasOptic()">
      <mat-card-header>
        <div class="card-header-container">
          <mat-card-title>
            <mat-icon class="card-icon">lens</mat-icon>
            Optique
          </mat-card-title>
          <button mat-icon-button matTooltip="Réinitialiser les paramètres optiques" (click)="resetAllOptic()"
                  [disabled]="!data.opticEnabled" class="reset-button">
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <mat-card-content>
        <form class="guider-form">
          <ng-container *ngFor="let key of getOpticKeys()">
            <div class="element-wrapper">
              <mat-form-field appearance="fill" *ngIf="isStringWithLov(key, 'optic')" class="full-width">
                <mat-label>{{ getElementLabel(key, 'optic') }}</mat-label>
                <mat-select [(ngModel)]="data.opticElements[key].value" [name]="'optic_' + key"
                            (ngModelChange)="data.onOpticChange(key, $event)"
                            [disabled]="!data.opticEnabled">
                  <mat-option *ngFor="let option of getElementLovs(key, 'optic')" [value]="option.value">
                    {{ option.label }}
                  </mat-option>
                </mat-select>
                <mat-hint *ngIf="getElementDescription(key, 'optic')">
                  {{ getElementDescription(key, 'optic') }}
                </mat-hint>
              </mat-form-field>

              <mat-form-field appearance="fill" *ngIf="isStringWithoutLov(key, 'optic')" class="full-width">
                <mat-label>{{ getElementLabel(key, 'optic') }}</mat-label>
                <input matInput type="text" [(ngModel)]="data.opticElements[key].value" [name]="'optic_' + key"
                       (ngModelChange)="data.onOpticChange(key, $event)"
                       [disabled]="!data.opticEnabled">
                <mat-hint *ngIf="getElementDescription(key, 'optic')">
                  {{ getElementDescription(key, 'optic') }}
                </mat-hint>
              </mat-form-field>

              <mat-form-field appearance="fill" *ngIf="isNumeric(key, 'optic')" class="full-width">
                <mat-label>{{ getElementLabel(key, 'optic') }}{{ getElementConstraints(key, 'optic') }}</mat-label>
                <input matInput type="number" [(ngModel)]="data.opticElements[key].value" [name]="'optic_' + key"
                       (ngModelChange)="data.onOpticChange(key, $event)"
                       [disabled]="!data.opticEnabled">
                <mat-hint *ngIf="getElementDescription(key, 'optic')">
                  {{ getElementDescription(key, 'optic') }}
                </mat-hint>
              </mat-form-field>

              <div class="toggle-field" *ngIf="isBool(key, 'optic')">
                <mat-slide-toggle [(ngModel)]="data.opticElements[key].value" [name]="'optic_' + key"
                                  (ngModelChange)="data.onOpticChange(key, $event)"
                                  [disabled]="!data.opticEnabled">
                  {{ getElementLabel(key, 'optic') }}
                </mat-slide-toggle>
              </div>
            </div>
          </ng-container>
        </form>
      </mat-card-content>
    </mat-card>

    <!-- Guide Parameters card -->
    <mat-card *ngIf="hasGuideParams()">
      <mat-card-header>
        <div class="card-header-container">
          <mat-card-title>
            <mat-icon class="card-icon">videogame_asset</mat-icon>
            Paramètres de guidage
          </mat-card-title>
          <button mat-icon-button matTooltip="Réinitialiser les paramètres de guidage" (click)="resetAllGuideParams()"
                  [disabled]="!data.guideParamsEnabled" class="reset-button">
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <mat-card-content>
        <form class="guider-form">
          <ng-container *ngFor="let key of getGuideParamsKeys()">
            <div class="element-wrapper">
              <mat-form-field appearance="fill" *ngIf="isStringWithLov(key, 'guideParams')" class="full-width">
                <mat-label>{{ getElementLabel(key, 'guideParams') }}</mat-label>
                <mat-select [(ngModel)]="data.guideParamsElements[key].value" [name]="'guideParams_' + key"
                            (ngModelChange)="data.onGuideParamsChange(key, $event)"
                            [disabled]="!data.guideParamsEnabled">
                  <mat-option *ngFor="let option of getElementLovs(key, 'guideParams')" [value]="option.value">
                    {{ option.label }}
                  </mat-option>
                </mat-select>
                <mat-hint *ngIf="getElementDescription(key, 'guideParams')">
                  {{ getElementDescription(key, 'guideParams') }}
                </mat-hint>
              </mat-form-field>

              <mat-form-field appearance="fill" *ngIf="isStringWithoutLov(key, 'guideParams')" class="full-width">
                <mat-label>{{ getElementLabel(key, 'guideParams') }}</mat-label>
                <input matInput type="text" [(ngModel)]="data.guideParamsElements[key].value" [name]="'guideParams_' + key"
                       (ngModelChange)="data.onGuideParamsChange(key, $event)"
                       [disabled]="!data.guideParamsEnabled">
                <mat-hint *ngIf="getElementDescription(key, 'guideParams')">
                  {{ getElementDescription(key, 'guideParams') }}
                </mat-hint>
              </mat-form-field>

              <mat-form-field appearance="fill" *ngIf="isNumeric(key, 'guideParams')" class="full-width">
                <mat-label>{{ getElementLabel(key, 'guideParams') }}{{ getElementConstraints(key, 'guideParams') }}</mat-label>
                <input matInput type="number" [(ngModel)]="data.guideParamsElements[key].value" [name]="'guideParams_' + key"
                       (ngModelChange)="data.onGuideParamsChange(key, $event)"
                       [disabled]="!data.guideParamsEnabled">
                <mat-hint *ngIf="getElementDescription(key, 'guideParams')">
                  {{ getElementDescription(key, 'guideParams') }}
                </mat-hint>
              </mat-form-field>

              <div class="toggle-field" *ngIf="isBool(key, 'guideParams')">
                <mat-slide-toggle [(ngModel)]="data.guideParamsElements[key].value" [name]="'guideParams_' + key"
                                  (ngModelChange)="data.onGuideParamsChange(key, $event)"
                                  [disabled]="!data.guideParamsEnabled">
                  {{ getElementLabel(key, 'guideParams') }}
                </mat-slide-toggle>
              </div>
            </div>
          </ng-container>
        </form>
      </mat-card-content>
    </mat-card>

    <!-- Calibration Parameters card -->
    <mat-card *ngIf="hasCalParams()">
      <mat-card-header>
        <div class="card-header-container">
          <mat-card-title>
            <mat-icon class="card-icon">straighten</mat-icon>
            Paramètres de calibration
          </mat-card-title>
          <button mat-icon-button matTooltip="Réinitialiser les paramètres de calibration" (click)="resetAllCalParams()"
                  [disabled]="!data.calParamsEnabled" class="reset-button">
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <mat-card-content>
        <form class="guider-form">
          <ng-container *ngFor="let key of getCalParamsKeys()">
            <div class="element-wrapper">
              <mat-form-field appearance="fill" *ngIf="isStringWithLov(key, 'calParams')" class="full-width">
                <mat-label>{{ getElementLabel(key, 'calParams') }}</mat-label>
                <mat-select [(ngModel)]="data.calParamsElements[key].value" [name]="'calParams_' + key"
                            (ngModelChange)="data.onCalParamsChange(key, $event)"
                            [disabled]="!data.calParamsEnabled">
                  <mat-option *ngFor="let option of getElementLovs(key, 'calParams')" [value]="option.value">
                    {{ option.label }}
                  </mat-option>
                </mat-select>
                <mat-hint *ngIf="getElementDescription(key, 'calParams')">
                  {{ getElementDescription(key, 'calParams') }}
                </mat-hint>
              </mat-form-field>

              <mat-form-field appearance="fill" *ngIf="isStringWithoutLov(key, 'calParams')" class="full-width">
                <mat-label>{{ getElementLabel(key, 'calParams') }}</mat-label>
                <input matInput type="text" [(ngModel)]="data.calParamsElements[key].value" [name]="'calParams_' + key"
                       (ngModelChange)="data.onCalParamsChange(key, $event)"
                       [disabled]="!data.calParamsEnabled">
                <mat-hint *ngIf="getElementDescription(key, 'calParams')">
                  {{ getElementDescription(key, 'calParams') }}
                </mat-hint>
              </mat-form-field>

              <mat-form-field appearance="fill" *ngIf="isNumeric(key, 'calParams')" class="full-width">
                <mat-label>{{ getElementLabel(key, 'calParams') }}{{ getElementConstraints(key, 'calParams') }}</mat-label>
                <input matInput type="number" [(ngModel)]="data.calParamsElements[key].value" [name]="'calParams_' + key"
                       (ngModelChange)="data.onCalParamsChange(key, $event)"
                       [disabled]="!data.calParamsEnabled">
                <mat-hint *ngIf="getElementDescription(key, 'calParams')">
                  {{ getElementDescription(key, 'calParams') }}
                </mat-hint>
              </mat-form-field>

              <div class="toggle-field" *ngIf="isBool(key, 'calParams')">
                <mat-slide-toggle [(ngModel)]="data.calParamsElements[key].value" [name]="'calParams_' + key"
                                  (ngModelChange)="data.onCalParamsChange(key, $event)"
                                  [disabled]="!data.calParamsEnabled">
                  {{ getElementLabel(key, 'calParams') }}
                </mat-slide-toggle>
              </div>
            </div>
          </ng-container>
        </form>
      </mat-card-content>
    </mat-card>

    <!-- Disabled Corrections card -->
    <mat-card *ngIf="hasDisCorrection()">
      <mat-card-header>
        <div class="card-header-container">
          <mat-card-title>
            <mat-icon class="card-icon">block</mat-icon>
            Désactiver les corrections
          </mat-card-title>
          <button mat-icon-button matTooltip="Réinitialiser les corrections" (click)="resetAllDisCorrection()"
                  [disabled]="!data.disCorrectionEnabled" class="reset-button">
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <mat-card-content>
        <form class="guider-form">
          <ng-container *ngFor="let key of getDisCorrectionKeys()">
            <div class="element-wrapper">
              <mat-form-field appearance="fill" *ngIf="isStringWithLov(key, 'disCorrection')" class="full-width">
                <mat-label>{{ getElementLabel(key, 'disCorrection') }}</mat-label>
                <mat-select [(ngModel)]="data.disCorrectionElements[key].value" [name]="'disCorrection_' + key"
                            (ngModelChange)="data.onDisCorrectionChange(key, $event)"
                            [disabled]="!data.disCorrectionEnabled">
                  <mat-option *ngFor="let option of getElementLovs(key, 'disCorrection')" [value]="option.value">
                    {{ option.label }}
                  </mat-option>
                </mat-select>
                <mat-hint *ngIf="getElementDescription(key, 'disCorrection')">
                  {{ getElementDescription(key, 'disCorrection') }}
                </mat-hint>
              </mat-form-field>

              <mat-form-field appearance="fill" *ngIf="isStringWithoutLov(key, 'disCorrection')" class="full-width">
                <mat-label>{{ getElementLabel(key, 'disCorrection') }}</mat-label>
                <input matInput type="text" [(ngModel)]="data.disCorrectionElements[key].value" [name]="'disCorrection_' + key"
                       (ngModelChange)="data.onDisCorrectionChange(key, $event)"
                       [disabled]="!data.disCorrectionEnabled">
                <mat-hint *ngIf="getElementDescription(key, 'disCorrection')">
                  {{ getElementDescription(key, 'disCorrection') }}
                </mat-hint>
              </mat-form-field>

              <mat-form-field appearance="fill" *ngIf="isNumeric(key, 'disCorrection')" class="full-width">
                <mat-label>{{ getElementLabel(key, 'disCorrection') }}{{ getElementConstraints(key, 'disCorrection') }}</mat-label>
                <input matInput type="number" [(ngModel)]="data.disCorrectionElements[key].value" [name]="'disCorrection_' + key"
                       (ngModelChange)="data.onDisCorrectionChange(key, $event)"
                       [disabled]="!data.disCorrectionEnabled">
                <mat-hint *ngIf="getElementDescription(key, 'disCorrection')">
                  {{ getElementDescription(key, 'disCorrection') }}
                </mat-hint>
              </mat-form-field>

              <div class="toggle-field" *ngIf="isBool(key, 'disCorrection')">
                <mat-slide-toggle [(ngModel)]="data.disCorrectionElements[key].value" [name]="'disCorrection_' + key"
                                  (ngModelChange)="data.onDisCorrectionChange(key, $event)"
                                  [disabled]="!data.disCorrectionEnabled">
                  {{ getElementLabel(key, 'disCorrection') }}
                </mat-slide-toggle>
              </div>
            </div>
          </ng-container>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fermer</button>
</mat-dialog-actions>
